[Desktop Entry]
Version=1.0
Type=Link
Name=Alex Pelly Video Synthesis Workshop - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=PIgPIrYq-Pc
