[Desktop Entry]
Version=1.0
Type=Link
Name=Hypno - Video Synthesizer — Sleepy Circuits
Comment=
Icon=user-bookmarks
URL=https://sleepycircuits.com/hypno
