[Desktop Entry]
Version=1.0
Type=Link
Name=LZX Industries - video instruments for video artists
Comment=
Icon=user-bookmarks
URL=https://lzxindustries.net/
