[Desktop Entry]
Version=1.0
Type=Link
Name=Raspberry Pi based video gear - wiki - scanlines
Comment=
Icon=user-bookmarks
URL=https://scanlines.xyz/t/raspberry-pi-based-video-gear/99
