[Desktop Entry]
Version=1.0
Type=Link
Name=*
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=u3d-n41Tobw
Name[fr_FR]=Processing conf' YT
