[Desktop Entry]
Version=1.0
Type=Link
Name=(2) ex zee ex - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/channel/UC9fEy1o90DeTMt0IOrgtT9A/playlists
Name[fr_FR]=ex zee ex - YouTube
