[Desktop Entry]
Version=1.0
Type=Link
Name=ex-zee-ex/waaaave_pool: a port of video_waaaves to raspberry pi
Comment=
Icon=user-bookmarks
URL=https://github.com/ex-zee-ex/waaaave_pool
