[Desktop Entry]
Version=1.0
Type=Link
Name=VIDEO WAAAVES GETTING STARTED - andrei_jay_creative_coding
Comment=
Icon=user-bookmarks
URL=https://andreijaycreativecoding.com/VIDEO-WAAAVES-GETTING-STARTED
Name[fr_FR]=Open_source RPI video_synth
